@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Library</h1>
        <p class="lead">This is a library application which links to a DBContext. Not seeded with data, but holds data in a SQL Database once data is entered</p>
    </section>
</main>